html, body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	font-family: "monospace";
}

.ui-container {
	position: absolute;
	margin: 10px;
	color: white;
	background-color: #000C;
	border-radius: 15px;
	user-select: none;
}

.ui-options {
	padding: 15px;
	float: right;
}

.ui-item {
	text-align: center;
	margin-left: 15px;
	margin-right: 15px;
	float: left;
}

.ui-value {
	font-weight: bold;
}

.icon {
	font-size: 35px;
	padding: 5px;
}

.enabled:hover {
	color: #FF5;
	cursor: pointer;
}

.disabled {
	color: #AAA;
}

.hidden {
	display: none;
}
